body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 80vmin;
    height: 80vmin;
    border: 1px solid black;
}

.grid-item {
    /* 100% / 16 = 6.25% */
    width: 6.25%;
    height: 6.25%;
    border: 1px solid #ddd;
    box-sizing: border-box; 
}
